<!DOCTYPE html>
<html>
<head>
<title> Email Phishing Classifier </title>
<style>
	body {
		text-align: center;
		color: #000000;
		}
	button {
		color: aliceblue;
		background-color: blue;
		}
	h1 {
		font-family: Times New Roman;
		font-size: 24pt;
		}
	h2{
		font-family: Times New Roman;
		font-size: 20pt;
		}
		
</style>
</head>
<body>
    <h1>Email Phishing Classifier</h1>
    <div>
        <form method="post" action="/predict">
            <textarea rows="12" cols="60" name="content" placeholder="Enter your email here"
                autocomplete="off">{{ email }}</textarea>
            <div>
                <button type="submit">
                    Button
                </button>
                <a href="/">Reset</a>
            </div>
        </form>

    </div>
    <div>
        {% if prediction %}
        {% if prediction == 1 %}
        <h2 style="color: red">Phishing</h2>
        {% else %}
        <h2 style="color: green">Not Phishing</h2>
        {% endif %}
        {% endif %}
        <!-- <p id="display"></p> -->
    </div>
</body>
</html>